<div class="container"><br>
    <div class="text-center border mb-2 shadow rounded">
        <h1>Contact</h1>
        <p>Email: <b>sreeganesh112&#64;gmail.com</b></p>
        <p>Phone Number: <b>+91 81295 61758</b></p>
        <p>Connect with me on any of the following </p>
    </div>

    <div class="list-group shadow d-flex justify-content-center">
        <div class="list-group-item list-group-item-action d-flex justify-content-center">
            <table>
                <tr>
                    <td class="d-flex justify-content-center">
                        <a href="//linkedin.com/in/sreeganeshps" target="_blank" class="rounded d-flex gap-3 py-3 mb-1">
                            <img src="../../assets/linkedin.png" width="32" height="32"
                                class="rounded flex-shrink-0 me-5">
                        </a>
                    </td>
                    <td>
                            <a href="//github.com/xreegnax" target="_blank" class="rounded d-flex gap-3 py-3 mb-1">
                            <img src="../../assets/github.png" width="32" height="32"
                                class="rounded flex-shrink-0 me-5">
                        </a>
                    </td>
                    <td>
                        <a href="//linkedin.com/in/sreeganeshps" target="_blank"
                            class="rounded  d-flex gap-3 py-3 mb-1">
                            <img src="../../assets/hackerrank.png" width="32" height="32"
                                class="rounded flex-shrink-0 me-5">
                        </a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>