<nav class="navbar-expand-md border-bottom">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/Home" routerLinkActive="text-dark"><b>Home</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/Portfolio" routerLinkActive="text-dark"><b>Portfolio</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/Resume" routerLinkActive="text-dark"><b>Resume</b></a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-secondary" routerLink="/Contact" routerLinkActive="text-dark"><b>Contact</b></a>
            </li>
        </ul>
    </div>
</nav>